import { useAppContext } from '@lib/contexts/app';
import { NextPage } from 'next';
import React from 'react';

import { Container, Content } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: NextPage = () => {

  return (
    <Container>
      <Content>
        <p>Hello, World</p>
      </Content>
    </Container>
  );
};

export default {{pascalCase name}};
